mat-toolbar{
    background-color:crimson;
    color: antiquewhite;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    height: 50px;
    margin-top: 1cm;
}