#div1{
    border: 1px solid;
    width: 800px;
    padding-left: 100px;
    margin-left: 220px;
    margin-top: 50px;
    padding-bottom: 2cm;
    padding-right: 1cm;
}
#div0{
    border:1px solid;
    border-style: groove;
    width: 10cm;
    padding-left: 3cm;
    padding-bottom: 1cm;
    padding-top: 1cm;
    margin-left: 10cm;
    margin-top: 1cm;
}